jax[cuda12]
jaxlib
equinox
optax
diffrax
hydra-core>=1.3.2
tqdm
wandb
wandb[media]
einops
# jaxpruner @ git+https://github.com/google-research/jaxpruner
ott-jax==0.4.5
pandas
scikit-learn
scikit-image
scipy
lpips-j==0.0.6
matplotlib
ipykernel
ipywidgets
ffmpeg-python
nbformat
flax
orbax-checkpoint
requests
clip-jax
transformers
pyparsing
PyYAML
pytest
marimo